.cuponDesc{
    width: 45%;
    margin: 15px;
}

.verificadoSeguridad{
    width: 40%;
    margin: 20px;
}

.enviosPaquete {
    width: 50%;
    margin: 15px;
}

.imgAvanzar {
    @include propiedadesIconos (50px , flase)
}