.divhr {
    height: 7px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(93, 166, 62, 1) 28%, rgba(131, 187, 107, 1) 83%, rgba(255, 255, 255, 0) 100%);
}
