.navcontainer{
    background-color: $colorPrimario;
    border: 0;
}

.navbar{
    background-color: $colorPrimario;
    border: 0;
}

.navbar-nav{
    text-align: center;
}

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}