.navcontainer{
    background-color: $colorPrimario;
    border: 0;
}

.navbar{
    background-color: $colorPrimario;
    border: 0;
}

.navbar-nav{
    text-align: center;
}

.nav-item{
    padding-left: 40px;
    padding-right: 40px;
}