.tarjetaprod{
    background-color: $colorSecundario;
    border-radius: 20px;
    color: $colorLetra;

    .imgkit{
        border-radius: 20px;
    }

    p{
        font-size: 1rem;
    }

    h3{
        font-size: 2rem;
    }

    .btn2{
        background-color: $colorBotones;
        padding: 10px;
        border-radius: 10px;
        border: 0;
        cursor: pointer;
        color: $colorLetra;

        &:hover{
            background-color: $colorhoverBoton;
            transition: 1s;
            color: black;
        }
    }

    &:hover{
        transform: scale(1.05);
        transition: 0.5s;
        box-shadow: 5px 5px 15px -6px #000000;
    }
}