.tarjetaprod{
    background-color: $colorSecundario;
    border-radius: 20px;
    color: $colorLetra;

    .imgkit{
        border-radius: 20px;
    }

    p{
        font-size: 1rem;
    }

    h3{
        font-size: 2rem;
    }

    .btn2{
        padding: map-get($boton , padding );
        border: map-get($boton , border );
        border-radius: map-get($boton , border-radius );
        cursor: map-get($boton , cursor );
    
        @include propiedadesBoton ($colorPrimario , true);

        &:hover{
            background-color: $colorhoverBoton;
            transition: 1s;
            color: black;
        }
    }

    &:hover{
        transform: scale(1.05);
        transition: 0.5s;
        box-shadow: 5px 5px 15px -6px #000000;
    }
}