$colorSecundario: rgb(196, 162, 53);
$colorLetra: rgb(241, 241, 241);
$colorBotones: darkolivegreen;
$colorhoverBoton: rgb(184, 214, 138);
$colorPrimario: rgb(105, 128, 55);
$boton: (
    padding: 10px,
    border-radius: 10px,
    border: 0,
    cursor: pointer,
);